body
{
	background-color: #ab8236;
}

h1
{
	text-align: center;
}

#div
{
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas
{
	border: 6px solid white;
}

footer
{
	text-align: center;
	letter-spacing: 3px;
	font-weight: 1000;
	font-size: 15px;
	padding-top: 10px;
}